name: CI Pipeline - Backend

on:
  push:
    branches:
      - main
      - "feature/**"
  pull_request:
    branches:
      - main

jobs:
  build-and-test-backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .

    steps:
      - name: 1. Checkout do Repositório
        uses: actions/checkout@v4

      - name: 2. Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13.7"
      
      - name: 3. Acessar o diretório backend
        run: |
          cd backend

      - name: 4. Instalar Dependências (Etapa de Build)
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: 5. Rodar Testes Automatizados (Etapa de Teste)
        run: |
          pytest -vv
